banner
{
   width: 100%;
   margin-top: 0.2em;
   text-align: center;
}



figure img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

figure figcaption {
    text-align: center;
    font-size: 14px;
}



p img {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
  max-width: 100%;
  height: auto;
}



body {
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    margin-top: 20px;
    text-align: justify;
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}


.box {
    color: hsl(0, 0%, 100%);
    border: 0px solid;
    border-radius: 10px;
    margin-right: 140px;
    margin-left: 140px;
    margin-top: 160px;
    min-height: 446px;
    height: auto;
    text-align: center;
    overflow: hidden;
}

.text {
    margin-top: 60px;
}

.insights {
    color: hsl(0, 0%, 100%);
}

.main-heading {
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: left;
    width: 450px;
    margin-top: -30px;
    letter-spacing: -1px;
}

.main-paragraph {
    margin-top: -30px;
    font-size: 16px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    width: 350px;
    text-align: left;
    letter-spacing: 0.5px;
}



.one,
.two,
.three {
    display: inline-block;
    width: 100px;
}

.image,
.text {
    display: inline-block;
}

.attribution {
    color: white;
}

